<nav class="navbar navbar-dark bg-primary navbar-expand px-3">
    <a class="navbar-brand fw-semibold text-white" href="/">Test task</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#topNav" aria-controls="topNav" aria-label="Переключить навигацию">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="topNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="https://github.com/BBolatA/test_task_UpTrader"
                   target="_blank" rel="noopener">
                    <i class="bi bi-github"></i> GitHub
                </a>
            </li>
        </ul>
    </div>
</nav>
